<!doctype html>

<html lang="en">
  <head>
    <title>MUNDO DE LOS VIDEOJUEGOS</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS v5.2.0-beta1 -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" crossorigin="anonymous">

  </head>
  <body>
    <body background="https://c.wallhere.com/photos/91/52/digital_art_anime-166401.jpg!d" >
      <font face="cumic sans ms,Bernard MT Condensed,verdana"> 
          <nav class="navbar navbar-expand navbar-dark bg-primary">
        <div class="nav navbar-nav">
          
            <a class="nav-item nav-link" href="/">inicio 
             </a>
           
            <a class="nav-item nav-link" href="/libro">juegos</a>
            <a class="nav-item nav-link" href="/integrantes">integrantes</a>
            <a class="nav-item nav-link" href="/admin/login">login</a>
        </div>
    </nav>
    <div class="container">
        <br/>
      </font>
      bs5-ca
