{% include 'sitio/cabecera.html' %} 


    

    <div class="p-5 ">
        <div class="container">
            <video src="/video/a.mp4" autoplay muted loop width="640" height="480"></video>
            <center>
           <font face="cumic sans ms,Algerian,verdana">
            <h1 style="color:rgb(33, 213, 20)" class="display-3">BIENVENIDOS</h1></font>
            <font face="cumic sans ms,Abadi Extra Light,verdana">
            <p style="color:rgb(239, 239, 255)" class="lead">Este sitio web está diseñado para almacenar los distintos juegos que existen en múltiples plataforma 
                como emuladores y empresas de videojuegos </p></font>
            <hr class="my-2">
            
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="/libro" role="button">ver juegos disponibles</a>
            </p>
        </center>
        </div>
    </div>
    

    {% include 'sitio/pie.html' %}