{% include 'sitio/cabecera.html' %} 

<div class="p-5">
    <center>
    <div class="row">
        <div style="color:rgb(0, 0, 0)"  class="col-sm-4">
            <div class="card">
                <img class="card-img-top" src="https://scontent.fmec2-1.fna.fbcdn.net/v/t39.30808-6/301596006_1962389577288635_8369663080281646808_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=730e14&_nc_ohc=840OU8xjohwAX8uWImE&tn=SQEEDJDfqfSvIs1b&_nc_ht=scontent.fmec2-1.fna&oh=00_AT8FnBzIwlKSJxnd2Xd39FK_1q7Eda_8J9pj6DbeTg0kHg&oe=630B883C" 
                alt="" width="20%" height="20%">
                <div class="card-body">
                    <h4 class="card-title">Alex Adrián Zambrano De la cruz </h4>
                    <p class="card-text">nacido en abril del 2001 vive en Sucumbíos Ecuador
                        Se graduó de bachillerato con el título de contabilidad básica 
                         actual mente estudia la Universidad  Técnica Manabí  la carrera de ciencias informáticas en tercer semestre
                        </p>
                </div>
            </div>
        </div>
        <div style="color:rgb(0, 0, 0)"  class="col-sm-4">
           <div class="card">
            <img class="card-img-top" src="https://scontent.fmec2-1.fna.fbcdn.net/v/t39.30808-6/235973692_4111308692324407_4049532978384393580_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=ukGhQ33SKwQAX-FCoas&_nc_ht=scontent.fmec2-1.fna&oh=00_AT9mh5We3H4VTA2lxzvN5CssFF6MpbENr6Od-UZV-g0HpQ&oe=630B2C48" alt="" width="" height="">
            <div class="card-body">
                <h4 class="card-title">Yordy Gregorio Mendoza Vasquez </h4>
                <p class="card-text">nacido Ecuador un 22 de mayo desde muy temprano le 
                    llamo la atención la música y la tecnología enfocandose más en la música 
                    urbana auto participado en varios concursos quedando entre los 3 lugares siempre hasta que un suceso hizo alejarse de la música enfocandose este v
                    ez en la tecnología estudiando ingeniería en sistemas en la universidad técnica de mañana hasta la fecha actual</p>
            </div>
           </div>
        </div>
        <div style="color:rgb(0, 0, 0)" class="col-sm-4">
            <div class="card">
                <img class="card-img-top" src="https://scontent.fmec2-1.fna.fbcdn.net/v/t1.6435-9/68256889_2693228224043811_996933021175119872_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=174925&_nc_ohc=VKngEkWF04AAX_M2fTq&_nc_ht=scontent.fmec2-1.fna&oh=00_AT9kQx7YTLiN38ofw_fVKSqOeASXW4drSbYoztMLkaMOyg&oe=632BF962" alt="">
                <div class="card-body">
                    <h4 class="card-title">Luis Felipe Paredes Molina</h4>
                    <p class="card-text">naci en ecuador un 21 de septiembre desde pequeño me llamo la tecnologia
                         y la musica mas relacionada al genero dance actualmente tengo diplomados
                         en periodismo deportivo y estudio actualmente en la utm</p>
                </div>
            </div>
        </div>
        
    </div>
</div>
</center>

{% include 'sitio/pie.html' %}