<!doctype html>
<html lang="en">
  <head>
    <title>usuario de administrador</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS v5.2.0-beta1 -->
    <link rel="stylesheet" href="/css/bootstrap.min.css"   crossorigin="anonymous">
    
  </head>
  <body>
    <body background="https://images.hdqwalls.com/download/hacker-virus-loading-94-1366x768.jpg" >
    <font face="cumic sans ms,Algerian,verdana">
    <nav class="navbar navbar-expand navbar-bark bg-success">
        <div class="nav navbar-nav">
            <a class="nav-item nav-link active" style="color:rgb(255, 255, 255)" href="/admin/">inicio</a>
            <a class="nav-item nav-link" style="color:rgb(255, 255, 255)" href="libro">juegos</a>
            <a class="nav-item nav-link" style="color:rgb(255, 255, 255)" href="cerrar">Cerrar</a>
            <a class="nav-item nav-link" style="color:rgb(255, 255, 255)" href="/">Sitio wed</a>
        </div>
      </font>
    </nav
  